<div *ngIf="portalData">
    <ng-container *ngIf="portalData.components; else emptyState">
        <ng-container *ngIf="portalData!.settings!.type === 'normal'">
            <form class="preview-form" autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
                <app-form-components [formData]="portalData.components"></app-form-components>
                <div class="preview-form__actions" *ngIf="!settingsPreviewData">
                    <button mat-flat-button type="submit" class="create-btn">
                        Отправить
                    </button>
                </div>
            </form>
        </ng-container>

        <div class="form-settings-container">
            <ng-container *ngIf="portalData!.settings!.type === 'button'">
                <button mat-flat-button class="preview-form__button" [id]="'ifr-btn_'+portalData!.id"
                    [style.background-color]="portalData!.settings!.button!.background"
                    [style.color]="portalData!.settings!.button!.textColor"
                    [class.size-sm]="portalData!.settings!.button!.size === 'sm'"
                    [class.size-md]="portalData!.settings!.button!.size === 'md'"
                    [class.size-lg]="portalData!.settings!.button!.size === 'lg'"
                    [class.font-sm]="portalData!.settings!.button!.fontSize === 'sm'"
                    [class.font-md]="portalData!.settings!.button!.fontSize === 'md'"
                    [class.font-lg]="portalData!.settings!.button!.fontSize === 'lg'"
                    [class.has-shadow]="portalData!.settings!.button!.hasShadow"
                    [class.is-rounded]="portalData!.settings!.button!.isRounded"
                >
                    {{ portalData!.settings!.button!.text }}
                </button>
            </ng-container>

            <ng-container *ngIf="portalData!.settings!.type === 'logo'">
                <img [src]="portalData!.settings!.logo!.image"
                     [id]="'ifr-img_'+portalData!.id"
                    [class.size-sm]="portalData!.settings!.logo!.size === 'sm'"
                    [class.size-md]="portalData!.settings!.logo!.size === 'md'"
                    [class.size-lg]="portalData!.settings!.logo!.size === 'lg'"
                    [class.circle]="portalData!.settings!.logo!.isCircle"
                    *ngIf="portalData!.settings!.logo!.image"
                >
            </ng-container>
        </div>
    </ng-container>
    <ng-template #emptyState></ng-template>
</div>
