// Body
$white-color: #FFFFFF;
$black-color: #000000;
$body-background: #F5F5F5;

// Main colors
$color-info: #005CAA;
$color-success: #00A35D;
$color-success-light: #5cccac;
$color-success-dark: #006935;
$color-warning: #ffaa00;
$color-period: #29007A;
$color-danger: #E05A61;
$color-secondary: #7B7F88;

// Menu
$divider-border-color: #2D465B;

// Lessons
$step-start: #400bff;
$reminding-start: #094092;
$lesson-end: #009cc8;
$email-notify: #8dd03c;
$exam-start: #ff419c;
$attack-start: #fb9200;
$module-passed: #00a645;
$step-color: #b1b1b1;
$long-line-color: #3F8CFF;
$secondary-dark-color: #666666;

// Table
$table-background: #FFFFFF;
