asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.8
django-admin-rangefilter==0.13.2
django-cors-headers==4.4.0
django-jazzmin==3.0.0
django-rest-knox==5.0.2
djangorestframework==3.15.2
django-macros==0.4.0
djangorestframework-simplejwt==5.3.1
et_xmlfile==2.0.0
gunicorn==22.0.0
idna==3.7
openpyxl==3.1.5
packaging==24.1
pillow==11.2.1
psycopg2-binary==2.9.9
Pygments==2.18.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tzdata==2025.2
urllib3==2.2.2
ruff==0.11.11
