<div class="preview-modal">
  <div class="preview-modal__header">
    <h2 class="preview-modal__title">{{ data.title || 'Предпросмотр формы' }}</h2>
    <button mat-icon-button (click)="close()" aria-label="Закрыть">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="preview-modal__content">
    <ng-container *ngIf="data.formElements && data.formElements.length; else emptyState">
      <form class="preview-form" autocomplete="off">
        <app-form-components [formData]="data.formElements"></app-form-components>
        <div class="preview-form__actions">
          <button mat-stroked-button color="primary" type="button" class="edit-btn" (click)="close()">
            Редактировать
          </button>
          <button mat-flat-button color="primary" type="button" class="create-btn" (click)="createForm()">
            Создать
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #emptyState>
      <div class="preview-modal__empty">Нет элементов для предпросмотра</div>
    </ng-template>
  </div>
</div>
