<div class="preview-modal">
  <div class="preview-modal__header">
    <h2 class="preview-modal__title">Код фрейма</h2>
    <button mat-icon-button (click)="close()" aria-label="Закрыть">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="preview-modal__content">
    <ng-container *ngIf="data && data.partner; else emptyState">
      <p>
        <mat-icon>info</mat-icon>
        Скопируйте код и отправьте партнеру
      </p>
      <div class="code-block-container">
        <button mat-icon-button class="copy-button" (click)="copyCodeToClipboard()">
          <mat-icon>content_copy</mat-icon>
        </button>

        <div #highlightContainer class="highlight-container">
          <pre><code class="iframe_code_block" [innerHTML]="highlightedCode"></code></pre>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyState>
      <div class="preview-modal__empty">У этого партнера нет фрейма или домена</div>
    </ng-template>
  </div>
</div>
